<div class="hero has-background-black" style="flex: 1">
    <div class="hero-body">
        <div class="content p-6 has-text-white columns is-centered">
            <div class="column is-four-fifths">
                <h1 style="color:beige;" >#About</h1>
                <p>College at University of Science (Junior)<br>
                    VNUHCM - University of Science<br>
                    Ho Chi Minh City, Vietnam </p>
                <strong>Gonna be a software engineering!</strong>
<!--                <h1 style="color:beige;" >#Working</h1>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, dolores error labore natus porro similique voluptatibus.-->
<!--                    Ab accusamus aut, explicabo nisi nostrum odit possimus quasi quia repellendus, rerum sapiente voluptatum.</p>-->
                <h1 style="color:beige;" >#Skill</h1>

                <blockquote class="column is-7 has-background-black-bis" style="border-left-color: #dc24ff">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="control">
                            <div class="tags has-addons">
                                <a class="tag is-link">HTML</a>
                                <a class="tag is-success">Intermediate</a>
                            </div>
                        </div>

                        <div class="control">
                            <div class="tags has-addons">
                                <a class="tag is-link">CSS</a>
                                <a class="tag is-success">Intermediate</a>
                            </div>
                        </div>

                        <div class="control">
                            <div class="tags has-addons">
                                <a class="tag is-link">JS</a>
                                <a class="tag is-success">Intermediate</a>
                            </div>
                        </div>

                        <div class="control">
                            <div class="tags has-addons">
                                <a class="tag is-link">Web Design</a>
                                <a class="tag is-success">Newbie</a>
                            </div>
                        </div>

                        <div class="control">
                            <div class="tags has-addons">
                                <a class="tag is-link">Java</a>
                                <a class="tag is-success">Newbie</a>
                            </div>
                        </div>

                        <div class="control">
                            <div class="tags has-addons">
                                <a class="tag is-link">Nodejs</a>
                                <a class="tag is-success">Newbie</a>
                            </div>
                        </div>

                    </div>
                </blockquote>
                <div class="is-divider" data-content="PORTFOLIO"></div>

                <div class="columns is-multiline p-3 is-centered">
<!--                    <h1 class="card-header">COMING SOON</h1>-->
                    <div class="column is-6 is-flex">
                        <div class="card has-background-white-bis is-clickable" onclick="window.open('https://duchuy040421.github.io/todo-app/');">
                            <div class="card-content">
                                <div class="media m-0">
                                    <div class="media-left">
                                        <figure class="image is-96x96 m-0">
                                            <img src="/img/portfolio/todo-app.png"  alt="todo-app">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">TODO APP</p>
                                        <p class="subtitle is-6">@DucHuy</p>
                                    </div>
                                </div>

                                <div class="content">
                                    Todo app dùng để thêm, chỉnh sửa những việc cần làm <a>#HTML</a>.
                                    <a href="#">#css</a> <a href="#">#js</a>
                                    <br>
                                    <time datetime="2022-3-5">11:50 PM - 5 Mar 2022</time>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{#each list}}
                        <div class="column is-6 is-flex">
                                <div class="card has-background-white-bis is-clickable"
                                     onclick="window.open('{{link}}');">
                                    <div class="card-content">
                                        <div class="media m-0">
                                            <div class="media-left">
                                                <figure class="image is-96x96 m-0">
                                                    <img src="{{linkImg}}" alt="{{title}}">
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">{{title}}</p>
                                                <p class="subtitle is-6">@DucHuy</p>
                                            </div>
                                        </div>

                                        <div class="content">
                                            {{content}}
                                            <br>
                                            <time datetime="">{{time}}</time>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    {{/each}}

                </div>

            </div>
        </div>
    </div>
</div>